<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLUFF</title>
    <link rel="stylesheet" href="/static/styles/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="esquerda">
            <a href="{{ url_for('card') }}"><img class="logoImg" src="/static/img/logo.png " alt="logoFluff"> </a>
        </div>
        <div class="centro">
            <input class="pesquisa" placeholder="Pesquise sua Foto"></input>
        </div>
        <div class="direita">
            <p>{{ session['nome_usuario'] }}</p>
            <i class="fa-solid fa-gear"></i>
            <a href="{{ url_for('logout') }}"><i id="logout" class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </header>
<a href="{{ url_for('upload_form') }}" class="btn"> Upload  <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
<a style="color: black; text-decoration: none;" href="{{url_for('feed')}}">
    <div class="posts">
        {% for post in posts %}
    <div class="post">
        <img src="/static/img/gatoE.jpeg" alt="exemplo de post" class="foto">
        <div class="icons">
            <div class="esquerdaI">
                <i class="fa-regular fa-bookmark"></i>
            </div>
            <div class="direitaI">
                <i class="fa-solid fa-share"></i>
                <i class="fa-regular fa-heart"></i>
            </div>
        </div>
        <h2>{{ post[1] }}</h2>
      <p>{{ post[2] }}</p>
    </div>
    {% endfor %}
<div class="novoPost"></div></a>
   
{% if mensagem %}
<p>{{ mensagem }}</p>
{% endif %}

<script src="/static/js/main.js"></script> 
</body>
</html>
