<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLUFF</title>
    <link rel="stylesheet" href="/static/styles/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="esquerda">
            <a href="cards.html"><img class="logoImg" src="/static/img/logo.png " alt="logoFluff"> </a>
        </div>
        <div class="centro">
            <input class="pesquisa">
                <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
            </input>
        </div>
        <div class="direita">
            <p>{{ session['nome_usuario'] }}</p>
            <i style="font-size: 25px; position: relative; padding-right: 80px; " class="fa-solid fa-gear" id="config"></i>
        </div>
    </header>
</header>
<a href="upload.html" class="btn"> Upload <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
<div class="posts">
    <div class="post">
        <img src="/static/img/gatoE.jpg" alt="exemplo de post" class="foto">
        <div class="icons">
            <div class="esquerdaI">
                <i class="fa-regular fa-bookmark"></i>
            </div>
            <div class="direita">
                <i class="fa-solid fa-share"></i>
            <i class="fa-regular fa-heart"></i>
            </div>
        </div>
    </div>
    <div class="novoPost"></div>
</body>
</html>