<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLUFF</title>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="/static/styles/config.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="esquerda">
            <a href="{{ url_for('card') }}"><img class="logoImg" src="/static/img/logo.png" alt="logoFluff"></a>
        </div>
        <div class="centro">
            <input class="pesquisa" placeholder="Pesquise sua Foto">
        </div>
        <div class="direita">
            <p>{{ session['nome_usuario'] }}</p>
            <a style="color: black;" href="{{ url_for('config') }}"><i class="fa-solid fa-gear"></i></a>
            <a href="{{ url_for('logout') }}"><i id="logout" class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
    </header>

    <div>
        <div class="config">
            <br><br>
            <h1 class="mudarSenha">Quer mudar a senha?</h1>
            <br>
            <a href="{{ url_for('mudar') }}" class="btnSenha">Mudar senha</a>
<br><br>
            <h1 class="apagarConta">Quer apagar a conta?</h1>
            <br>
            <a href="{{ url_for('apagar') }}" class="btnApagar">Apagar a conta</a>
            
        
        </div>
    </div>

   

    <script src="/static/js/main.js"></script> 
</body>
</html>
