@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Poppins:wght@200;400;600&display=swap');

body,html {
    height: 100%;
    margin: 0;
    font-family: poppins, sans-serif;
}


.container {
    display: flex;
    height: 100%;
    text-align: center;
}

.logoImg{
    width: 70%;
}

.logo-and-text {
    background-color: #AFC2F0;
    flex: 60%;
    display: flex;
    color: #6685cf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80%;
}

.logo-and-text img {
    max-width: 80%;
    height: auto;
}

.login-form h1 {
    margin-bottom: 10%;
}

.login-form {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    padding: 10px;
    margin: 5px;
    width: 100%;
    display: block;
}

#botaoCadastro {
    background-color: #ffffff;
    border: 1.5px solid #6685cf;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    margin-top: 20px;
    color: #6685cf;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
}

#botaoCadastro:hover {
    background-color: #324570;
    color: white;
}

.criarCadastro{
    text-decoration: none;
    color: #6685cf;
    font-size: 14px;
}

.criarCadastro:hover {
    color: #324570 ;
}