@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
} 
body {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #AFC2F0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.esquerda {
    background-color: #AFC2F0;
    width: 13%;
    display: flex;
    align-items: center;
}
.logoImg {
    width: 150px;
    height: auto;
    margin-left: 1.5rem;
}
.centro {
    width: auto;
    display: flex;
    align-items: center;

}
.pesquisa {
    background-color: #fff;
    width: 700px;
    height: 2rem;
    border-radius: 20px;
    cursor: pointer;
    border-style: none;
    padding-left: 10px;
    font-size: 16px;
}
#lupa {
    margin-right: 1rem;
    padding-left: 10px;
    font-size: 20

}
.direita {
    background-color: #AFC2F0;
    width: 35%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}
p {
    margin-left: 20rem;
}
#seta {
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}
.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.gato {
    width: 25%;
    margin-bottom: 2rem;
    
}

.c1 {
    background-color: #cdd8f5;
    width: 25%;
    height: 30px;
    color: #1d2331;
    display: flex;
    padding-top: 14px;

    padding-bottom: 10px;
    align-items: center;
}


.c2 {
    background-color: #cdd8f5;
    width: 25%;
    height: 110px;
    color: rgb(61, 61, 61);
}
.btn {
    background-color: #7195e9;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    border-style: none;
    margin-top: 1rem;
    display: -ms-inline-box;
    text-align: center;
    padding: 0.8rem 2rem;
    
}

#inputTexto{
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #1d2331;
    font-size: 14px;
    padding-left: 10px;
}

#inputDescricao{
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #1d2331;
    font-size: 14px;
    padding-left: 10px;
}
.upload {
    display: flex;
    justify-content: center;
    width: 25%;
}
#upload {
    display: none;
}

label {
    padding: 20px 10px;
    width: 100%;
    height: 20px;
    background-color: #7195e9;
    color: white;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    text-align: center;
    transition: .5s;
    border: 1px solid ;
}